<!DOCTYPE html>



<html>


    <head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Jof</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header id="home">
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="#"></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"><a href="#home">Home</a></li>
                                        <li><a href="#about">About Us</a></li>
                                        <li><a href="#fruits">Fruits</a></li>
                                        <li><a href="#blog">Blog</a></li>
                                        <li><a href="#contact">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->


    <section class="slider_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <h1><strong class="cur">Best</strong><br>Fresh Red Apple</h1>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
                            <div class="button_section"><a class="main_bt" href="#">Buy Now</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_center">
                        <img class="slide_img" src="images/slider_img.png" alt="#" /> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about -->
    <div id="about" class="about layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="images/about_img.png" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="heading margin_top_30">
                        <h2>About our shop</h2>
                    </div>
                    <div class="full margin_top_20">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="full margin_top_30">
                        <a class="main_bt" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- section -->
    <div id="fruits" class="section dark_bg layout_padding left_white">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                    <div class="heading full text_align_center">
                        <h2 class="white_font full text_align_center">Our Fruits</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-md-4 margin_top_30">
                    <div class="full fr">
                        <img class="img-responsive" src="images/f1.png" alt="#" />
                    </div>
                    <div class="full text_align_center">
                        <h3 class="white_font">Black Grapes<br><strong class="theme_blue">Fresh Fruit</strong></h3>
                    </div>   
                </div>
                <div class="col-md-4 margin_top_30">
                    <div class="full fr">
                        <img class="img-responsive" src="images/f2.png" alt="#" />
                    </div>
                    <div class="full text_align_center">
                        <h3 class="white_font">Pineapple<br><strong class="theme_blue">Fresh Fruit</strong></h3>
                    </div>
                </div>
                <div class="col-md-4 margin_top_30">
                    <div class="full fr">
                        <img class="img-responsive" src="images/f3.png" alt="#" />
                    </div>
                    <div class="full text_align_center">
                        <h3 class="white_font">Bananas<br><strong class="theme_blue">Fresh Fruit</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
               <div class="col-md-6">
                    <div class="full main_heading_1">
                        <h2>Fresh Lemon</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing el sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure doloreprehenderin </p>
                    </div>   
                    <div class="full margin_top_30">
                        <a class="main_bt" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 margin_top_30 padding_right_0">
                    <div class="full">
                        <img src="images/green_fr.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
<!-- section -->
    <div id="blog" class="section dark_bg layout_padding right_white">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                    <div class="heading full text_align_center">
                        <h2 class="white_font full text_align_center">Our Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-md-4 margin_top_30">
                    <div class="full" style="overflow: hidden;">
                    <div class="full bl">
                        <img class="img-responsive" src="images/blog1.png" alt="#" />
                    </div>
                    <div class="full blog_blue text_align_center">
                        <h5 class="white_font">Post by David Mark 27/07/2019</h3>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniadolor..</p>
                    </div> 
                     </div>  
                </div>
                <div class="col-md-4 margin_top_30">
                    <div class="full" style="overflow: hidden;">
                    <div class="full bl">
                        <img class="img-responsive" src="images/blog2.png" alt="#" />
                    </div> 
                    <div class="full blog_blue text_align_center">
                        <h5 class="white_font">Post by David Mark 27/07/2019</h3>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniadolor..</p>
                    </div>
                     </div>
                </div>
                <div class="col-md-4 margin_top_30">
                    <div class="full" style="overflow: hidden;">
                    <div class="full bl">
                        <img class="img-responsive" src="images/blog3.png" alt="#" />
                    </div> 
                    <div class="full blog_blue text_align_center">
                        <h5 class="white_font">Post by David Mark 27/07/2019</h3>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniadolor..</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div id="contact" class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-6 padding_left_0">
                    <div class="full">
                        <img class="float-left" src="images/fruit_img.png" alt="#" />
                    </div>
                </div>

               <div class="col-md-6">
                <div class="heading">
                        <h2>Request a <strong class="theme_blue">Call Back</strong></h2>
                    </div>
                    <div class="full margin_top_20">
                        <form>
                        <div class="row">
                            <div class="col-sm-12">
                               <input class="form-control" placeholder="Your Name" type="text" required="">
                            </div>
                            <div class="col-sm-12">
                               <input class="form-control" placeholder="Email" type="Email" required="">
                            </div>
                            <div class="col-sm-12">
                                <input class="form-control" placeholder="Phone" type="text" required="">
                            </div>
                            <div class="col-sm-12">
                                <textarea class="form-control textarea" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <button class="main_bt">Send</button>
                    </form>
                    </div>   
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- end section -->

    <!-- footer -->
    <footer>
        <div class="footer layout_padding">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <h3>Contact Us</h3>
                            <p>Healing Center, 176 W Street name, New York, NY<br><br>(+91) 987 654 3210<br><br>demo@gmail.com</p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <h3>Pages</h3>
                            <p>
                              <a href="#home">Home</a><br>
                              <a href="#about">About Us</a><br>
                              <a href="#fruits">Fruits</a><br>
                              <a href="#blog">Blog</a><br>
                              <a href="#contact">Contact Us</a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <h3>Recent Post</h3>
                            <p><span><img src="images/f_b1.png"></span><span>consectetur adipisc elit,<br>sed do eiusmod</span></p>
                            <p class="margin_top_20"><span><img src="images/f_b2.png"></span><span>consectetur adipisc elit,<br>sed do eiusmod</span></p>
                            <p class="margin_top_20"><span><img src="images/f_b3.png"></span><span>consectetur adipisc elit,<br>sed do eiusmod</span></p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <h3>Newsletter</h3>
                            <p>
                                <form>
                                    <input type="text" name="email" placeholder="Enter Your Email" /> 
                                    <button>Subscribe</button>
                                </form>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>

    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
  <style>
  iframe{
    width: 100%;
    height:100%;
    border: none;
  }
  </style>
  <head>
    <title>Salesforce Chat - Iframes POC</title>
  </head>
  <!--<script type="text/javascript" src="path/to/prototype.js"></script>-->
  <script type="application/javascript">
    window.onmessage = function(e) {
      console.log(e.data.hasOwnProperty("frameHeight"));
      if (e.data.hasOwnProperty("frameHeight")) {
        var chatFrame = document.getElementById("chatFrame");
        chatFrame.style.height = e.data.frameHeight + 20 + "px";
        chatFrame.style.width = e.data.frameWidth + 20 + "px";
      }
    };
  </script>
  <body>
    <div style ="bottom: 0px; right: 0px; position: absolute;" >
      <iframe id="chatFrame" src= "https://akotilieiframe.herokuapp.com/chat"></iframe>
    </div>
  </body>
  
</html>



<!--

<html lang="en">
<head>
	<title></title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

</head>
<body>
	<h>Test Chat </h>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
	</style>
<style>
.chasitorText, .slds-input, .textAreaBox {    
    -webkit-user-select: text !important;
	user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
}

@media screen and (max-width: 1280px) {

	.modalContainer {
        position: absolute !important;
        z-index: 99999 !important;
    }

	.minimizedContainer {
		position:fixed !important;
		bottom:70px !important;
		width:115px !important;
		right:2px !important;	
		height: 20px !important;
		font-weight: normal !important;
	}

	.cChatButton .messageText {
		margin-left: 3px !important;
		font-size: 10px !important;
	}

	.cChatButton .buttonMinimized {
		height: 30px !important;
	}

	.cChatButton .chatIcon {
		width: 14px !important;
		height: 14px !important;
	}
}

li.wrapper.chatMessage, 
li.wrapper.chatMessage.chasitor.embeddedServiceLiveAgentStateChatItem.embeddedServiceLiveAgentStateChatMessage,
li.wrapper.chatMessage.chasitor.embeddedServiceLiveAgentStateChatItem.embeddedServiceLiveAgentStateChatBubble.embeddedServiceLiveAgentStateChatFileTransferMessage,
li.wrapper.embeddedServiceLiveAgentStateChatMessage  {
	min-width: 2px !important;
}

svg.slds-icon.slds-icon-text-default.slds-icon_x-small {
	height: 20px !important;
	min-height: 20px !important;
	width: 20px !important;
	min-width: 20px !important;
}

.helpButtonEnabled .embeddedServiceIcon {
	width: 16.67px;
	height: 16.67px;
	background-size: 16.67px;
	background-image: url('https://parimatch.my.salesforce.com/sfc/dist/version/download/?oid=00D2p00000139LC&ids=0682p00000IBW5vAAH&d=/a/2p0000002WaJ/DKlkpg7OjXdmJs.Cz8o.MXqLhdB9Vn9g9lqz3Y0G4GU&operationContext=DELIVERY&viewId=05H2p0000024IzmEAE&dpt=');
}

.dialog-button-1 {
	width: 44px;
	height: 44px;
	border: 1px solid #262626 !important;
	box-sizing: border-box;
	background-color: white !important;
	border-radius: 4px;
	background-image: url('https://parimatch.my.salesforce.com/sfc/dist/version/download/?oid=00D2p00000139LC&ids=0682p00000IBVvVAAX&d=/a/2p0000002WZL/EbswtRJfxx4DhJcNOONu7B9_1QbekBDrZLe7lr_6C0o&operationContext=DELIVERY&viewId=05H2p0000024IwiEAE&dpt=') !important;
	background-size: 16px !important;
	background-position-x: center !important;
	background-position-y: center !important;
	background-repeat: no-repeat !important;
	display: block !important;
}

.waitingMessage, .waitingGreeting {
	color: black !important;
}

@media only screen and (min-width: 48em) { 
	.embeddedServiceHelpButton .helpButton .uiButton:hover::before, .embeddedServiceHelpButton .helpButton .uiButton:focus::before {
		display: none !important;
	}
}

h3#dialogTextTitle, .waitingGreeting, .embeddedServiceSidebarButton {
    font-weight: 700 !important;
}

.embeddedServiceSidebarButton {
    font-size: 14px !important;
}

button.minimizeButton:focus, button.closeButton:focus{
	outline: none;
	box-shadow: none;
}

.embeddedServiceSidebarExtendedHeader, .headerAnnouncement {
	display: none !important;
}

.embeddedServiceSidebarMinimizedDefaultUI {
	background: #F8FF13 !important;
	background-color: #F8FF13 !important;
}

.embeddedServiceHelpButton .helpButton {
	bottom: 16px !important;
	height: 40px !important;
	width: 168px !important;
	display: flex !important;
	justify-content: center !important;
	border-radius: 30px !important;
}

.embeddedServiceHelpButton .helpButton .uiButton {
	background-color: #222222;
	font-family: "Circe", sans-serif;
	color: black;
	height: 40px !important;
	width: 168px !important;
	display: block !important;
}

.embeddedServiceHelpButton .helpButton .uiButton:focus {
	outline: 1px solid #222222;
}

.embeddedServiceSidebar.layout-docked .dockableContainer, .embeddedServiceSidebarMinimizedDefaultUI.helpButton {
	border-radius: 0px;
}

.embeddedServiceHelpButton .helpButton .uiButton,
.embeddedServiceSidebarMinimizedDefaultUI.helpButton,
.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:focus,
.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover {
	background-color: #F8FF13 !important;
	border-color: #F8FF13 !important;
	color:#000000 !important;
	border-radius: 30px !important;
	padding: 0px 0px 0px 0px !important;
	box-shadow: none !important;
	outline: none !important;
	border-style: unset !important;
	text-decoration: none !important;
}

.helpButtonLabel {
	display: inline-block !important;
	line-height: 16.67px !important;
}

span.fileDescription.uiOutputText, span.fileName.uiOutputText, .uiOutputRichText a  {
	color: black !important;
}

.dialogButtonContainer {
	display: flex !important;
	justify-content: space-between !important;
	flex-direction: row-reverse !important;
	width: 290px !important;
	margin: auto !important;
	padding: 0 0px 16px !important;
}

.dialog-button-0 {
	width: 236px;
	height: 44px;
}

.message, .embeddedServiceSidebarMinimizedDefaultUI .content {
	background-color: #F8FF13 !important;
	border: none !important;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0  !important;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16.67px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color:#000000;
	text-decoration: none;
}

.embeddedServiceHelpButton .helpButton .helpButtonEnabled:hover::before, .embeddedServiceHelpButton .helpButton .helpButtonEnabled:focus::before {
	background-color: white;
}

.messageContent path {
	stroke: black;
	fill: black;
}

.embeddedServiceSidebarButton .label, .embeddedServiceSidebarButton:disabled .label, .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {
	color: black;
}

.dialog-button-1 .bBody, .helpButtonEnabled .embeddedServiceIcon::before, .helpButtonEnabled .embeddedServiceIcon svg, .embeddedServiceHelpButton .helpButton .uiButton.helpButtonDisabled   {
	display: none !important;
}

.embeddedServiceSidebarDialogState .dialogButton,
.embeddedServiceSidebarDialogState .dialogButton:focus,
.embeddedServiceSidebarDialogState .dialogButton:hover {
	background-color: #F8FF13;
	border-color: #F8FF13;
	color:#000000;
	padding: 10px 16px 10px 16px;
	box-shadow: none;
	outline: none;
	border-style: unset;
	text-decoration: none;
}

.embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):focus,
.embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):hover,
.embeddedServiceSidebarButton.uiButton--inverse, .embeddedServiceSidebarButton.uiButton--inverse:disabled {
	background-color: #F8FF13;
	margin-bottom: 8px;
}

.embeddedServiceSidebarButton.uiButton--inverse .label {
	color:#000000 !important;
}

.embeddedServiceLiveAgentStateChatInputFooter .chasitorControls .uiInput {
	border: 1px solid #D9D9D9;
}

.embeddedServiceLiveAgentStateChat .messageArea {
	border: none;
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button:hover,
.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button:focus,
.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button:active {
	color: #787c80 !important;
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button:focus {
	box-shadow: none;
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu-items .slds-dropdown__item>a {
	border: none !important;
	box-shadow: none !important;
}

.embeddedServiceSidebarButton:not(:disabled):focus, .embeddedServiceSidebarButton:not(:disabled):hover,
.embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton {
	background: var(--lwc-colorBrandSecondary,#f8ff13);
	margin-bottom: 8px;
}

.uiButton--default:hover .label, .uiButton--default:focus .label {
	color:black;
}

.embeddedServiceLiveAgentStateChatInputFooter {
	margin-bottom: 0px !important;
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-dropdown-trigger_click.slds-is-open .slds-button {
	color:#787c80;
}

.embeddedServiceLiveAgentStateChat .messageArea:focus {
	border: none;
}

.embeddedServiceLiveAgentStateWaiting .loadingBall,
.embeddedServiceLiveAgentQueuePosition .embeddedServiceLoadingBalls .loadingBall {
	background-color: #787c80 !important;
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu-items .slds-dropdown__item>a {
    color: #5a5d60 !important;
}

</style>

<script type="text/javascript" charset="UTF-8" >


	document.onclick = function(event) {
	var tagName = event.target.tagName;
	if (tagName == "EMBEDDEDSERVICE-CHAT-HEADER") {
		var counter = document.getElementsByClassName("dot")[0];
		if (counter) {
			counter.style.visibility = "hidden";
			document.title = title;
		}
	}
}

document.addEventListener(
		"setCounter",
		function(event) {
			var counter = document.getElementsByClassName("dot")[0];
			if (counter) {
				counter.style.visibility = "visible";
			}
		},
		false
);


document.addEventListener(
	"setCustomField",
	function(event) {
		var detail = event.detail;
		embedded_svc.settings.extraPrechatFormDetails[0].value = event.detail.name;
		embedded_svc.settings.extraPrechatFormDetails[1].value = event.detail.email;
		embedded_svc.settings.extraPrechatFormDetails[2].value = event.detail.phone;
		// Fire startChat callback.
		event.detail.callback();
	},
	false
);

var title = document.title;


	var accountId = new URLSearchParams(window.location.search).get('accountID');
    var language = document.querySelector('html').getAttribute('lang');
	language = (language == 'en') ? 'en-US' : language;
	
	var initESW = function(gslbBaseURL) {
    embedded_svc.settings.avatarImgURL = 'https://parimatch.my.salesforce.com/sfc/dist/version/download/?oid=00D2p00000139LC&ids=0682p00000IBVx0AAH&d=/a/2p0000002WZk/yvHSdKsnO5Oleeq8kNuO.gtRUyuu8P0dmdZoe1aGxcA&operationContext=DELIVERY&viewId=05H2p0000024IzSEAU&dpt=';
    embedded_svc.settings.chatbotAvatarImgURL = 'https://parimatch.my.salesforce.com/sfc/dist/version/download/?oid=00D2p00000139LC&ids=0682p00000IBVx0AAH&d=/a/2p0000002WZk/yvHSdKsnO5Oleeq8kNuO.gtRUyuu8P0dmdZoe1aGxcA&operationContext=DELIVERY&viewId=05H2p0000024IzSEAU&dpt=';
    embedded_svc.settings.displayHelpButton = true;
    embedded_svc.settings.language = language;

    embedded_svc.settings.defaultMinimizedText = 'SUPPORT CHAT';
    embedded_svc.settings.disabledMinimizedText =  'SUPPORT CHAT';
    embedded_svc.settings.loadingText = 'Loading...';

    embedded_svc.settings.extraPrechatFormDetails = (accountId) ?
    [
        {"label":"PreChat Form AccountID", "transcriptFields": ["PreChat_Form_AccountID__c"], "value" : accountId},
        {"label":"Start Url", "transcriptFields": ["Prechat_StartUrl__c"], "value": window.location.href,"displayToAgent":false},
        {"label":"Is Logged", "transcriptFields": ["Is_Logged__c"], "value" : "true"}
    ] :

    [
        {"label":"Name",  "transcriptFields": ["PreChat_Form_Name__c"]},
        {"label":"Email", "transcriptFields": ["PreChat_Form_Email__c"]},
        {"label":"Phone", "transcriptFields": ["PreChat_Form_Phone__c"]},
        {"label":"Start Url", "transcriptFields": ["Prechat_StartUrl__c"], "value": window.location.href,"displayToAgent":false}
    ];

	embedded_svc.settings.extraPrechatInfo = [{"entityFieldMaps":[{"doCreate":false,"doFind":false,"fieldName":"LastName","isExactMatch":true,"label":"Last Name"}],"entityName":"Contact","showOnCreate":true}];

    embedded_svc.settings.enabledFeatures = ['LiveAgent'];
    embedded_svc.settings.entryFeature = 'LiveAgent';

    embedded_svc.init(
            'https://parimatch--devpro.my.salesforce.com',
            'https://devpro-parimatch.cs89.force.com',
            gslbBaseURL,
            '00D0E000000E6IW',
            (accountId) ? 'Chat_Deployment_LoginUser' : 'Chat_Deployment_Desktop',
            {
                baseLiveAgentContentURL: 'https://c.la2-c1cs-cdg.salesforceliveagent.com/content',
                deploymentId: '5722p0000000G2t',
                buttonId: (language == 'ru') ? '5732p0000000GqZ'	: (language == 'en-US') ? '5732p0000000GqU' : '5730E00000005VF',
                baseLiveAgentURL: 'https://d.la2-c1cs-cdg.salesforceliveagent.com/chat',
                eswLiveAgentDevName: (accountId) ? 'EmbeddedServiceLiveAgent_Parent04I2p000000kBOzEAM_173006d4196' :
                'EmbeddedServiceLiveAgent_Parent04I2p000000kBOpEAM_1730028d33c',
                isOfflineSupportEnabled: false
            }
    );
};

if (!window.embedded_svc) {
    var s = document.createElement('script');
    s.setAttribute('src', 'https://parimatch--devpro.my.salesforce.com/embeddedservice/5.0/esw.min.js');
    s.onload = function() {
        initESW(null);
    };
    document.body.appendChild(s);
} else {
    initESW('https://service.force.com');
}

</script>-->
</body>
</html>